/* 
.themeLightContainer {
  background: linear-gradient(135deg, #e0c3fc, #8ec5fc);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}


.themeDarkContainer{
  background: #343837;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
} */